@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-main text-white
}

.btn {
    @apply bg-red-700 py-2 px-4 font-bold
}

input {
    @apply p-2 bg-transparent border-2 border-sub
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

.scale-up {
    animation: scale-up 0.3s ease-out 
}

@keyframes scale-up {
    0% {
        scale: 85%;
    }
    100% {
        scale: 100%;
    }
}

@keyframes flash {
    0% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
    }
    50% {
        background-color: #FFF;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
    }
}